<div id="editplmodal" class="modal">
  <div class="modal-content">
    <h4>Edit Playlist</h4>
    <input id="pl-title" autofocus>
    <section id="pl-songlist">
      <!-- dynamically generated song list -->
    </section>
  </div>
</div>
