<nav role="navigation" class=" top-nav">
  <div class="nav wrapper container">
    <a id="logo-container" href='#' class=brand-logo><%= title %></a>
    <% if (user) { %>
      <ul class='right'>
        <li>
          Hello <%= user.soundcloud_username %>
        </li>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>
      </ul>
    <% } else { %>
      <ul class='right'>
        <li>
          <a href="/auth/soundcloud">Login with Soundcloud</a>
        </li>
      <ul>
    <% } %>
  </div>
</nav>


