
<div class="row container">

    <div class="col m6 s12 player no-padding lighten-5 z-depth-2">
        <div id="audio-player" class="musicplayer col s12 z-depth-2">

          <div class="times">
            <span id="time-left" class="left current">0:00</span>
            <strong class="strong">/</strong>
            <span id="total-time" class="right duration">0:00</span>
          </div>

          <div class="col s12 controls">
            <i id="prev" class="material-icons">skip_previous</i>
            <i id="play" class="material-icons">pause</i>
            <i id="next" class="material-icons">skip_next</i>
            <i id="volume" class="material-icons">volume_up</i>
            <!-- <i id="fav" class="material-icons">favorite</i> -->
          </div>

          <div class="col s12">
            <form action="#">
                <p class="range-field">
                  <input type="range" id="duration" min="0" max="1000" value="0" />
                </p>
            </form>
          </div>

        </div>
    </div>

</div>

