 <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div id="modal-title">
        </div>
        <form id="search-rec" class="search-rec-form">
          <input type="text" id="search-rec-value" placeholder="Find Your Recommendation" autofocus>
        </form>
        <section id="search-results"></section>
    </div>
  </div>
