 <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div id="dashboard" class="dashboard col s3 pull-s1">
        <!-- <ul class=" collection z-depth-3">
            <li class=" collection-item transparent avatar">
              <img src="https://i1.sndcdn.com/artworks-000004659432-8zbrtt-t500x500.jpg" alt="" class="circle">
              <span class="title">TITLE</span>
              <p>Artist | Song
              </p>
            </li>
            <li class=" collection-item transparent avatar">
              <img class="circle" alt="" src="https://i1.sndcdn.com/artworks-000121619638-7t5hmr-t500x500.jpg">
              <span class="title">TITLE</span>
              <p>Artist | Song
              </p>
            </li>
            <li class=" collection-item transparent avatar">
              <img class="circle" alt="" src="https://i1.sndcdn.com/artworks-000138032353-aywlgh-t500x500.jpg">
              <span class="title">TITLE</span>
              <p>Artist | Song
              </p>
            </li>
            <li class=" collection-item transparent avatar">
              <img class="circle" alt="" src="https://i1.sndcdn.com/artworks-000128431435-jpayq2-t500x500.jpg">
              <span class="title">TITLE</span>
              <p>Artist | Song
              </p>
            </li>
          </ul> -->
          <section id="search-results"></section>
      </div>
    </div>
  </div>
