*,
html,
body {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #1d2120;
  font-family: 'Raleway', sans-serif;
  color: white;
/*  overflow: hidden;
*/  /*padding: 50px;*/
}

div {
  border-bottom-width: 0px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}
/*search modal*/

#modal1,
#editplmodal,
#newplmodal {
  background-color: rgba(51, 51, 51, 0.6);
}


.top-nav {
  background-color: rgba(0,0,0,0)
}

.circle {
  width: 300px;
}

a {
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
}

/*recommendations div*/
.collection {
  border: none;
  font-weight: 200;
}

/*@keyframes selectedrecommendation {
   0%   {border-bottom: 1px solid red;}
    25%  {border-top: 1px solid red;}
    50%  {border-left: 1px solid red;}
    75%  {border-right: 1px solid red;}
}
.collection:hover {
  animation-name: selectedrecommendation;
  animation-duration: 4s;
}*/


.collection .collection-item {
  border: none;
  border-bottom: 1px solid #f04a4a
  font-weight: 200;
}


#line1 {
  display: block;
}

.col {
  border: 1px solid black;
}

.hidden {
  display: none;
}
/*AUDIO PLAYER INFO*/
audio {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: 'Raleway', sans-serif;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.row .col.s12 {
  width: 100%;
  margin-left: 0;
  text-align: center;
  border: none;
}

.controls i {
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.8em;
}

.times {
  display: inline;
  font: white;
  float: right;
  letter-spacing: 3px;
}

.strong {
  padding: 10px;
}

#footer {
  border: none;
}
#audio-player {
  margin-bottom: 0;
}

footer {
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.row {
  margin-bottom: 0;
  bottom: 0;
}

input span {
  display:none;
}







