*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }


#line1 {
  display: block;
}

#player {
  max-width: 200px
  height: 200px;
  border: 1px solid black;
}

.song-total {
  display: block;
}
