<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>

</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <main>
    <ul>
      <li><a href="/users">Visit the user list.</a></li>
    </ul>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
