<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title><%= title %></title>
  <meta name="description" content="A template app for building Express/Mongoose.">

  <!-- Utility Libs (jQuery, Lodash) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script>

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Soundcloud SDK -->
  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>


  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>

<header>
  <section class="col m1">
    <% if (user) { %>
      <div>
        <%= user.soundcloud_username %>
        <p hidden id="userid"><%= user._id %></p>
        &nbsp;&nbsp;
        <a href="/auth/logout">Logout</a>
      </div>
    <% } else { %>
      <div><a href="/auth/soundcloud">Login with Soundcloud</a></div>
    <% } %>
  </section>

  <form class="ui-widget" id="search-form">
    <input type="text" id="search-value" placeholder="Search">
  </form>
</header>

<section>
    <div>
      <section id="search-results"></section>
    </div>
</section>

<main>
  <div class="col m1">
    <% if (user) { %>
      <div id="playboard">Playlists:
        <ul class="plbar collapsible" data-collapsible="expandable" id="pl">
        </ul>
      </div>
    <% } %>
  </div>

  <section id="dashboard" class="dashboard row">
    <div>
      <section id="search-results"></section>
    </div>
  </section>
</main>

<footer>
  <%- include('../partials/player') %>
  <!-- <audio id="audio-player" controls="controls"></audio> -->
</footer>


<script src="/js/main.js"></script>


</body>
</html>
