<!DOCTYPE html>
<html>
<head>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script>
</head>
<body>
  <%- include('../partials/nav') %>
  <div class=container>
    <form id="searchbox">
      <input type="text" id="search" placeholder="Search">
      <input hidden type="submit" value="Search">
    </form>
    <div  id="searchResults">
    </div >
  </div>

  <div class="">
    <div class="row">
      <div class="col s2 blue darken-3">fdsafdsafdsafasdfdass</div>
      <div class="center-align  col s7 main-content">
        <div class="col s5 offset-s3 album-art">
          <img class="z-depth-3 responsive-img circle" src="https://i1.sndcdn.com/artworks-000143749440-rwvxmj-t500x500.jpg">
        </div>

      </div>
      <div class="col s3 pull-s1">
        <ul class=" collection z-depth-3">
            <li class=" collection-item transparent avatar">
              <img src="https://i1.sndcdn.com/artworks-000004659432-8zbrtt-t500x500.jpg" alt="" class="circle">
              <span class="title">TITLE</span>
              <p>Artist | Song
              </p>
            </li>
            <li class=" collection-item transparent avatar">
              <img class="circle" alt="" src="https://i1.sndcdn.com/artworks-000121619638-7t5hmr-t500x500.jpg">
              <span class="title">TITLE</span>
              <p>Artist | Song
              </p>
            </li>
            <li class=" collection-item transparent avatar">
              <img class="circle" alt="" src="https://i1.sndcdn.com/artworks-000138032353-aywlgh-t500x500.jpg">
              <span class="title">TITLE</span>
              <p>Artist | Song
              </p>
            </li>
            <li class=" collection-item transparent avatar">
              <img class="circle" alt="" src="https://i1.sndcdn.com/artworks-000128431435-jpayq2-t500x500.jpg">
              <span class="title">TITLE</span>
              <p>Artist | Song
              </p>
            </li>
          </ul>


      </div>
    </div>
  </div>

  <audio id="audio-player" controls="controls"></audio>

</body>
</html>
